<!--タイムラインの投稿一覧-->
<table class="table border-bottom table-hover table-inverse mx-4">
  <tbody>
    <% posts.each do |post| %>
    <tr>
      <!--ユーザ画像とユーザー名をクリックすると-->
      <td class="align-middle text-center">
        <% if post.user == current_user %>
        <!--投稿ユーザーがログインユーザーだったらマイページへ遷移-->
          <%= link_to mypage_path do %>
            <%= image_tag current_user.get_profile_image(100,100), class: "rounded-circle" %><br>
              <%= current_user.name %>
          <% end %>
        <% else %>
        <!--異なっていたらユーザ詳細ページへ-->
          <%= link_to user_path(post.user_id) do %>
            <%= image_tag post.user.get_profile_image(100,100), class: "rounded-circle" %><br>
            <%= post.user.name %>
          <% end %>
        <% end %>
      </td>
      <td class="align-middle text-center">
        <%= l post.created_at, format: :short %><br>
      </td>
      <td class="align-middle text-center">
        <%= image_tag post.get_image(120,90) %>
      </td>
      <td class="align-middle text-center">
        <%= link_to post_path(post.id) do %>
          〒<%= post.post_code.to_s.insert(3, "-")%><br>
          <i class="fa-solid fa-location-dot" style="color: #7a7a7a;"></i>
          <%= post.prefecture_address %>
          <%= post.city_address %>
          <%= post.block_address %>
        <% end %>
      </td>
      <td class="align-middle text-center" colspan="3">
        <!--危険だと赤色表示、安全だと緑色表示-->
        <% if post.danger? %>
          <span class="text-danger font-weight-bold">
            <%= post.status_i18n %>
          </span>
        <% elsif post.safety? %>
          <span class="text-success font-weight-bold">
            <%= post.status_i18n %>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>