<!--タイムラインの投稿一覧ページ-->
<div class="post-group">
  <% posts.each do |post| %>
    <div class="card shadow-lg">
      <div class="card-item card-top">
        <%= link_to user_path(post.user_id) do %>
          <%= image_tag post.user.get_profile_image(40,40), class: "rounded-circle" %>
          <%= post.user.name %>
        <% end %>
        <div class="card-item status-button">
          <!--危険だと赤色表示、安全だと緑色表示-->
          <% if post.danger? %>
            <span class="text-danger font-weight-bold">
              <%= post.status_i18n %>
            </span>
          <% elsif post.safety? %>
            <span class="text-success font-weight-bold">
              <%= post.status_i18n %>
            </span>
          <% end %>
        </div>
      </div>
      <!--ユーザ画像とユーザー名をクリックすると-->
      <div class="card-item">
        <%= image_tag post.get_image(200,150) %>
      </div>
      <div class="card-item">
        <%= link_to post_path(post.id) do %>
          〒<%= post.post_code.slice(0, 3) %>-<%= post.post_code.slice(3, 4) %><br>
          <i class="fa-solid fa-location-dot" style="color: #7a7a7a;"></i>
          <%= post.prefecture_address %>
          <%= post.city_address %><br>
          <%= post.block_address %>
        <% end %>
      </div>
      <div class="card-item">
        <div class="content-btn">
          <!--お気に入りボタンの表示-->
          <div class="favorite">
            <div id="favorite_btn_<%= post.id %>">
              <%= render "public/favorites/btn", post: post %>
            </div>
          </div>
          <!--コメント数の表示-->
          <div class="comment">
            <div id="comment_count">
              <%= render "public/post_comments/count", post: post %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-item time">
        <%= l post.created_at, format: :short %>
      </div>
    </div>
  <% end %>
</div>