
<div class="row">

  <%= render 'public/users/info', current_user: @current_user %>

  <div class="col-10">
    <!--フラッシュメッセージ-->
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container m-0">
      <h3 class="row my-4">
        <div class="col-1"></div>
        <span class='heading-title'>投稿内容</span>
      </h3>
      <div class="row">
        <div class="col-5 text-center">
          <%= image_tag @post.get_image(320,240) %>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
          <table class="table border-bottom">
            <tr>
              <th class="text-center col-3">投稿日時</th>
              <td class="col-9"><%= l @post.created_at%></td>
            </tr>
            <tr>
              <th class="align-middle text-center col-3">投稿者名</th>
              <td class="col-9">
                <%= image_tag @post.user.get_profile_image(50,50), class: "rounded-circle" %>
                <%= @post.user.name %>
              </td>
            </tr>
            <tr>
              <th class="align-middle col-3 text-center">状況</th>
              <td class="col-9">
                <!--危険だと赤色表示、安全だと緑色表示-->
                <% if @post.danger? %>
                  <span class="status-size text-danger font-weight-bold">
                    <%= @post.status_i18n %>
                  </span>
                <% elsif @post.safety? %>
                  <span class="status-size text-success font-weight-bold">
                    <%= @post.status_i18n %>
                  </span>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="col-3 text-center">郵便番号</th>
              <td class="col-9">〒<%= @post.post_code.to_s.insert(3, "-") %></td>
            </tr>
            <tr>
              <th class="align-middle text-center col-3">住所</th>
              <td class="col-9">
                <%= @post.prefecture_address %>
                <%= @post.city_address %>
                <%= @post.block_address %>
              </td>
            </tr>
            <tr>
              <th class="align-middle text-center col-3">詳細</th>
              <td class="col-9"><%= @post.detail %></td>
            </tr>
          </table>
           <% if @post.user != current_user %>
          <div class="text-center">
            <%= link_to "ユーザページへ", user_path(@post.user_id), class: "btn btn-secondary col-4" %>
          </div>
          <% end %>
          <% if @post.user == current_user %>
          <div class="text-center">
            <%= link_to "編集する", edit_post_path(@post), class: "btn btn-secondary col-4" %>
            <%= link_to "削除する", post_path(@post), method: :delete, class: "btn btn-danger col-4", "data-confirm" => "本当に削除しますか？" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--コメント一覧-->
    <div class="row mt-5">
      <div class="col-lg-6 col-sm-12">
      <%= render "public/post_comments/index", post: @post %>
      </div>
    </div>
    <!--コメントフォーム-->
    <div class="row">
      <div class="col-lg-1 col-sm-1"></div>
      <div class="col-lg-4 col-sm-9 my-3">
        <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>