<!--投稿詳細ページ-->
<div class="container my-3">
  <!--フラッシュメッセージ-->
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>
  <!--お気に入りボタン-->
  <div class="row mt-3">
    <div class="col-9"></div>
    <div class="col-2">
      <h3 class="favorite-btn text-center">
        <div id="favorite_btn_<%= @post.id %>">
          <%= render "public/favorites/btn", post: @post %>
        </div>
      </h3>
    </div>
  </div>
  <!--投稿内容-->
  <div class="row mb-5">
    <div class="col-lg-5 col-sm-12 py-3 text-center">
      <%= image_tag @post.get_image(360,270) %>
    </div>
    <!--投稿詳細(右側)-->
    <div class="col-lg-6 col-sm-12 text-center mt-3">
      <table class="table border-bottom">
        <tr>
          <th class="text-center col-3">投稿日時</th>
          <td class="col-9"><%= l @post.created_at%></td>
        </tr>
        <tr>
          <th class="align-middle text-center col-3">投稿者名</th>
          <td class="col-9">
            <%= link_to user_path(@post.user_id) do %>
              <%= image_tag @post.user.get_profile_image(50,50), class: "rounded-circle" %>
              <%= @post.user.name %>
            <% end %>
            <!--ログインユーザー以外にフォローするボタンを表示-->
            <% if current_user != @post.user %>
              <span id="follow-ajax_<%= @post.user_id %>">
                <%= render "public/relationships/btn", user: @post.user, class: "col-3" %>
              </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="align-middle col-3 text-center">状況</th>
          <td class="col-9">
            <!--危険だと赤色表示、安全だと緑色表示-->
            <% if @post.danger? %>
              <span class="status-size text-danger font-weight-bold">
                <%= @post.status_i18n %>
              </span>
            <% elsif @post.safety? %>
              <span class="status-size text-success font-weight-bold">
                <%= @post.status_i18n %>
              </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="col-3 text-center">郵便番号</th>
          <td class="col-9">〒<%= @post.post_code.to_s.insert(3, "-") %></td>
        </tr>
        <tr>
          <th class="align-middle text-center col-3">住所</th>
          <td class="col-9">
            <%= @post.prefecture_address %>
            <%= @post.city_address %>
            <%= @post.block_address %>
          </td>
        </tr>
        <tr>
          <th class="align-middle text-center col-3">詳細</th>
          <td class="col-9"><%= @post.detail %></td>
        </tr>
      </table>
      <!--ログインユーザーの投稿のみに表示-->
      <% if @post.user == current_user %>
        <div class="text-center">
          <%= link_to "編集する", edit_post_path(@post), class: "btn btn-secondary col-4" %>
          <%= link_to "削除する", post_path(@post), method: :delete, class: "btn btn-danger col-4", "data-confirm" => "本当に削除しますか？" %>
        </div>
      <% end %>
    </div>
  </div>
  <!--コメント一覧-->
  <div class="row d-flex justify-content-center">
    <div class="col-lg-11 col-sm-12">
      <div id="comment_index">
        <%= render "public/post_comments/index", post: @post %>
      </div>
    </div>
  </div>
  <!--コメントフォーム-->
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
