<!--フォロー一覧-->
<div class="container my-3">
  <!--フラッシュメッセージ-->
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>
  <div class="text-center my-3">
    <h3>
      <%= link_to  user_path(@user.id) do %>
        <i class="fa-solid fa-circle-chevron-left"  style="color: #7a7a7a;"></i>
      <% end %>
      <strong><%= @user.name %></strong>
    </h3>
    <p>フォロー中<%= @user.followings.count %></p>
  </div>
  <div class="text-center">
    <% if @users.present? %>
      <!--フォロー一覧-->
      <%= render 'public/users/index', users: @users %>
    <% else %>
      <h3 class="py-5 text-center">ここにフォロ中ーのユーザーが表示されます。</h3>
    <% end %>
  </div>
  <!--ページネーション-->
  <div class="d-flex justify-content-center">
    <%= paginate @users, theme: 'bootstrap-5'  %>
  </div>
</div>