<div class="row">
  <%= render 'public/users/info'%>
  <div class="col-10 p-0 my-4 text-center">
    <!--検索結果の表示-->
    <% if @model == 'user' %>
      <h4>ユーザー名<strong>" <%= @content %> "</strong>は<%= @records.total_count %>件見つかりました。 </h4>
      <%= render 'public/users/index', users: @records %>
    <% elsif @model == 'post' %>
      <h4>投稿住所<strong>"<%= @content %>"</strong>は<%= @records.total_count %>件見つかりました。</h4>
      <%= render 'public/posts/timeline', posts: @records %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @records, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>