<!--トップページ-->
<div class="top-image">
  <div class="container">
    <!--フラッシュメッセージ-->
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <div class="row my-4">
      <div class="mx-auto">
        <h1><strong>用水路安全確認マップへようこそ！！</strong></h1>
      </div>
    </div>
    <h4 class="text-center mb-5">
      用水路の危険・安全な場所を投稿してユーザへ伝えよう。<br>
      あなたの投稿が誰かの命を救うきっかけになるかもしれません。
    </h4>
    <div class="row">
      <div class="col-lg-3 col-sm-2"></div>
      <div class="col-lg-4 col-sm-5">
        <p><strong>会員登録済みの方はこちら</strong></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-block btn-success btn-lg px-4" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 col-sm-2"></div>
      <div class="col-lg-4 col-sm-5">
        <p><strong>会員登録がまだの方はこちら</strong></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-block btn-info btn-lg px-4" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 col-sm-2"></div>
      <div class="col-lg-4 col-sm-5">
        <p><strong>体験したい方はこちら</strong></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-block btn-dark btn-lg px-4" %>
      </div>
    </div>
  </div>
</div>
