<h2><%= @user.name %>さん</h2>

<div id="message">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <%= render "public/chats/chat", chat: chat %>
    <% else %>
      <div class="left-container d-flex">
        <%= image_tag @user.get_profile_image(30,30), class: "rounded-circle" %>
        <%= chat.message %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="errors">
  <%= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.submit "送信", class: "btn btn-dark btn-sm" %>
  <%= f.hidden_field :room_id %>
<% end %>