<!--管理者検索結果ページ-->
<div class="container my-3">
  <!--フラッシュメッセージ-->
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>

    <!--検索結果の表示-->
  <div>
    <% if @model == 'user' %>
    <!--ユーザー名の検索結果一覧(部分一致)退会も表示される-->
      <div class="row my-4 justify-content-center text-center">
        <h4 class="mb-3"><i class="fa-solid fa-magnifying-glass"></i>　投稿者名<strong>" <%= @content %> "</strong>さんは<br class="hidden-pc"><%= @records.total_count %>件<br class="hidden-pc">見つかりました。 </h4>
      </div>
      <%= render 'admin/users/index', users: @records %>
    <% elsif @model == 'post' %>
    <!--投稿住所の検索結果一覧(部分一致)-->
      <div class="row my-4 justify-content-center text-center">
        <h4 class="mb-3"><i class="fa-solid fa-magnifying-glass"></i>　投稿住所<strong>"<%= @content %>"</strong>は<br class="hidden-pc"><%= @records.total_count %>件<br class="hidden-pc">見つかりました。</h4>
      </div>
      <%= render 'admin/homes/postindex', posts: @records %>
    <% else @model =='post_code' %>
    <!--郵便番号の検索結果一覧(完全一致)-->
      <div class="row my-4 justify-content-center text-center">
        <h4 class="mb-3"><i class="fa-solid fa-magnifying-glass"></i>　郵便番号<strong>"〒<%= @content.slice(0, 3) %>-<%= @content.slice(3, 4) %>"</strong>は<br class="hidden-pc"><%= @records.total_count %>件<br class="hidden-pc">見つかりました。</h4>
      </div>
      <%= render 'admin/homes/postindex', posts: @records %>
    <% end %>
  </div>
  <!--ページネーション-->
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @records, theme: 'bootstrap-5' %>
  </div>
</div>