<div class="row">
  <%= render 'layouts/sidebar'%>
  <div class="col-9 p-0 mx-auto my-3 text-center">
    <!--検索結果の表示-->
    <% if @model == 'user' %>
      <h4 class="mb-3"><i class="fa-solid fa-magnifying-glass"></i>　投稿者名<strong>" <%= @content %> "</strong>さんは<%= @records.total_count %>件見つかりました。 </h4>
      <%= render 'admin/users/index', users: @records %>
    <% elsif @model == 'post' %>
      <h4 class="mb-3"><i class="fa-solid fa-magnifying-glass"></i>　投稿住所<strong>"<%= @content %>"</strong>は<%= @records.total_count %>件見つかりました。</h4>
      <%= render 'admin/homes/postindex', posts: @records %>
    <% else @model =='post_code' %>
      <h4 class="mb-3"><i class="fa-solid fa-magnifying-glass"></i>　郵便番号<strong>"〒<%= @content.to_s.insert(3, "-") %>"</strong>は<%= @records.total_count %>件見つかりました。</h4>
      <%= render 'admin/homes/postindex', posts: @records %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @records, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>