<!--管理者投稿一覧共通ページ-->
<div class="post-group">
  <% posts.each do |post| %>
    <div class="card shadow-lg d-flex">
      <div class="card-item card-top">
        <%= link_to admin_user_path(post.user_id) do %>
          <%= image_tag post.user.get_profile_image(40,40), class: "rounded-circle" %>
          <%= post.user.name %>
        <% end %>
        <div class="card-item status-button">
          <% if post.danger? %>
            <span class="text-danger font-weight-bold">
              <%= post.status_i18n %>
            </span>
          <% elsif post.safety? %>
            <span class="text-success font-weight-bold">
              <%= post.status_i18n %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="card-item">
        <%= image_tag post.get_image(200,150) %>
      </div>
      <div class="card-item">
        <%= link_to admin_post_path(post.id) do %>
          〒<%= post.post_code.to_s.insert(3, "-") %><br>
          <%= post.prefecture_address %>
          <%= post.city_address %><br>
          <%= post.block_address %>
        <% end %>
      </div>
      <div class="card-item">
        <div class="content-btn">
          <div class="favorite">
            <!--お気に入り数の表示-->
            <i class="fa-solid fa-star" style="color: orange;"></i><%= post.favorites.count %>件
          </div>
          <!--コメント数の表示-->
          <div class="comment">
            <i class="fa-solid fa-comment" style="color: #7a7a7a;"></i><%= post.post_comments.count %>件
          </div>
        </div>
      </div>
      <div class="card-item time">
        <%= l post.created_at, format: :short %>
      </div>
    </div>
  <% end %>
</div>