<!--コメント一覧共通ページ-->
<h5>
  <%= render "public/post_comments/count", post: post %>件のコメント
</h5>
<table class="table border-bottom table-hover table-inver">
  <tbody>
    <% post.post_comments.each do |post_comment| %>
      <tr>
        <td class="text-center align-middle">
          <%= l post_comment.created_at, format: :short %>
        </td>
        <td class="text-center">
          <% if user_signed_in? %>
            <%= link_to user_path(post_comment.user) do %>
              <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle" %><br>
              <%= post_comment.user.name %>
            <% end %>
          <% elsif admin_signed_in? %>
            <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle" %><br>
            <%= post_comment.user.name %>
          <% end %>
        </td>
        <td class="text-center align-middle">
          <%= post_comment.comment %>
        </td>
        <td class="text-center align-middle" colspan="3">
          <% if post_comment.user == current_user || admin_signed_in? %>
            <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, remote: true, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
