<!--コメント一覧共通ページ-->
<h5 class="text-center">
  <%= render "public/post_comments/count", post: post %>件のコメント
</h5>
<table class="table border-bottom table-hover table-inver text-center">
  <tbody>
    <% post.post_comments.each do |post_comment| %>
      <tr>
        <td class="align-middle" style="font-size:15px;">
          <% if user_signed_in? %>
            <%= link_to user_path(post_comment.user) do %>
              <%= image_tag post_comment.user.profile_image, class: "rounded-circle small-user-img" %><br>
              <%= post_comment.user.name %>
            <% end %>
          <% elsif admin_signed_in? %>
            <%= link_to admin_user_path(post_comment.user) do %>
              <%= image_tag post_comment.user.profile_image, class: "rounded-circle small-user-img" %><br>
              <%= post_comment.user.name %>
            <% end %>
          <% end %>
        </td>
        <td class="align-middle" style="font-size:15px;">
          <%= post_comment.comment %>
        </td>
        <!--削除ボタン-->
        <td class="align-middle" colspan="3">
          <% if post_comment.user == current_user || admin_signed_in? %>
            <%= link_to post_post_comment_path(post, post_comment), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？" do %>
              <i class="fa-solid fa-trash-can fa-sm" style="font-size: 20px; color: #bababa;"></i>
            <% end %>
          <% end %>
          <div class="align-middle" style="font-size: 10px;" >
            <%= l post_comment.created_at, format: :short %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
