<!--ユーザー新規登録ページ-->
<div class="row">
   <%= render 'layouts/sidebar'%>
  <div class="col-lg-10 col-sm-9 mx-auto">
    <div class="container my-4">
      <h3 class="row mb-4">
        <div class="col-1"></div>
        <span class='heading-title'>新規ユーザ登録</span>
      </h3>
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <%= alert %>
        <div class="row form-group justify-content-center">
          <%= f.label :name, "ユーザー名", class: "col-lg-3 col-sm-4" %>
          <%= f.text_field :name,autofocus: true, class: "col-4" %>
        </div>

        <div class="row form-group justify-content-center">
          <%= f.label :email, "メールアドレス", class: "col-lg-3 col-sm-4" %>
          <%= f.email_field :email,  autocomplete: "email",placeholder: "", class: "col-4" %>
        </div>

        <div class="row form-group justify-content-center">
          <div class="col-lg-3 col-sm-4">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
            <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "col-4" %>
        </div>

        <div class="row form-group justify-content-center">
          <%= f.label :password_confirmation, "パスワード(確認用)", class: "col-lg-3 col-sm-4" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-4" %>
        </div>

        <div class="row form-group justify-content-center">
          <%= f.submit "新規登録", class: "btn btn-info col-lg-2 col-sm-4 " %>
        </div>
      <% end %>
      <div class="row justify-content-center">
       <p>※一度登録されたメールアドレスは使用できません。</p>
      </div>
      <div class="row justify-content-center mb-4">
        すでに登録済みの方は
        <%= render "public/shared/links" %>
        からログインしてください。
      </div>
    </div>
  </div>
</div>