<!--ユーザー新規登録ページ-->
<div class="container my-3">
  <!--フラッシュメッセージ(退会ユーザーがログインしようとすると表示)-->
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>

  <!--新規登録でエラー出現時表示-->
  <% if @user.errors.any? %>
    <div class="flash-message alert">新規登録に失敗しました。</div>
  <% end %>

  <div class="row no-gutters">
    <div class="col-lg-6 col-md-9 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded my-5">
      <h3 class="session-title rounded py-4 mb-0">新規登録</h3>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          以下の項目を入力してください。
        </div>
        <div class="text-center mt-3">
          <%= render 'layouts/errors', obj: @user %>
        </div>

        <%= form_with model: @user, url: user_registration_path do |f| %>
        <div class="input-group mb-3">
          <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-user"></i></span>
          <%= f.text_field :name,autofocus: true, placeholder: "ユーザー名", class: "form-control" %>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-envelope"></i></span>
          <%= f.email_field :email,  autocomplete: "email",placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "form-control" %>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" aria-hidden="true"><i class="fa-regular fa-circle-check"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", class: "form-control" %>
        </div>
          <%= f.submit "新規登録", class: "session-btn btn text-light col-4" %>
      <% end %>
    </div>
    <div>
     <p>※一度登録されたメールアドレスは使用できません。</p>
    </div>
    <div class="mb-3">
      すでに登録済みの方は
      <%= render "public/shared/links" %>
      からログインしてください。
    </div>
  </div>
</div>
