<div class="row">
   <%= render 'public/users/info'%>
  <div class="col-10">
    <div class="container m-0">
      <h3 class="row mb-4">
        <div class="col-2"></div>
        <span class='heading-title'>ユーザログイン</span>
      </h3>
      <%= form_with model: @user, url: user_session_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="row form-group justify-content-center">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス", class: "col-4" %>
        </div>
        
        <div class="row form-group justify-content-center">
          <%= f.password_field :password, autocomplete: "current-password",placeholder: "パスワード", class: "col-4" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="row form-group justify-content-center">
            <%= f.check_box :remember_me, class: "mr-1" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <div class="row form-group justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-success col-2 " %>
        </div>
      <% end %>
      <div class="row form-group justify-content-center">
        会員登録がお済みでない方は
        <%= render "public/shared/links" %>
         から会員登録をしてください。
      </div>
    </div>
  </div>
</div>