<!--ユーザー一覧共通ページ-->
<table class="table border-bottom table-hover table-inverse mx-4">
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %><br>
            <%= user.name %>
          <% end %>
        </td>
        <td class="align-middle">
          <i class="fa-solid fa-message" style="color: #7a7a7a;"></i>
          <!--ユーザのメッセージ-->
          <%= render 'public/users/message', user: user %>
        </td>
        <td class="align-middle">
          <%= render "public/relationships/btn", user: user, class: "col-4" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>