<!--ユーザー一覧共通ページ-->
<div class="post-group">
  <% users.each do |user| %>
    <div class="user-card shadow-lg">
      <div class="card-item">
        <%= link_to user_path(user.id) do %>
          <%= image_tag user.profile_image, class: "rounded-circle user-index-img mb-2" %><br>
          <%= user.name %>
        <% end %>
      </div>
      <div class="card-item comment-item">
        <i class="fa-solid fa-message mr-2" style="color: #7a7a7a;"></i>
        <!--ユーザのメッセージ-->
        <%= render 'public/users/message', user: user %>
      </div>
      <div class="card-item">
        <% if current_user != user %>
          <div id="follow-ajax_<%= user.id %>">
            <%= render "public/relationships/btn", user: user, class: "col-4" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>