<!--ユーザー詳細の共通テーブル-->
<table class="table border-bottom">
  <!--ログインユーザのみアドレスを表示-->
  <% if @user.email != ENV["GUEST_USER_EMAIL"] %>
    <% if user == current_user %>
      <tr>
        <th class="text-center">メールアドレス</th>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  <% end %>
    <th class="text-center">
      <i class="fa-solid fa-message"></i>
      メッセージ
    </th>
    <td>
      <!--ユーザのメッセージ-->
      <%= render 'public/users/message', user: user%>
    </td>
  </tr>
  <tr>
    <th>フォロー中</th>
    <td><%= link_to user.followings.count, user_followings_path(user) %></td>
  </tr>
  <tr>
    <th>フォロワー</th>
    <td><%= link_to user.followers.count, user_followers_path(user) %></td>
  </tr>
  <tr>
    <th>お気に入り</th>
    <td>
      <%= link_to favorites_user_path(user) do %>
        <i class="fa-solid fa-star"></i>
        
      <% end %>
    </td>
  </tr>
</table>