<!--ユーザー詳細の共通テーブル-->
<table class="table border-bottom">
  <!--ログインユーザのみアドレスを表示-->
  <% if @user.email != ENV["GUEST_USER_EMAIL"] %>
    <% if user == current_user %>
      <tr>
        <th>メールアドレス</th>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  <% end %>
    <th>
      <i class="fa-solid fa-message"></i>
      メッセージ
    </th>
    <td>
      <!--ユーザのメッセージ-->
      <%= render 'public/users/message', user: user%>
    </td>
  </tr>
  <tr>
    <th>フォロー中</th>
    <td><%= link_to user.followings.count, user_followings_path(user) %></td>
  </tr>
  <tr>
    <th>フォロワー</th>
    <td><%= link_to user.followers.count, user_followers_path(user) %></td>
  </tr>
  <tr>
    <th><i class="fa-solid fa-star"></i>お気に入り</th>
    <td>
      <%= link_to favorites_user_path(user) do %>
        <%= user.favorites.count %>
      <% end %>
    </td>
  </tr>
  <tr>
    <!--DM表示される条件：相互フォロー、ゲストユーザーでない-->
    <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) && @user.email != ENV["GUEST_USER_EMAIL"] && current_user.email != ENV["GUEST_USER_EMAIL"] %>
      <th class="align-middle">DM</th>
      <td>
        <%= render "public/chats/btn", user: user %>
      </td>
<% end %>
  </tr>
</table>