<!--一週間の投稿数共通テーブル-->
<table class="table table-bordered text-center ">
  <tr>
    <th>6日前</th>
    <th>5日前</th>
    <th>4日前</th>
    <th>3日前</th>
    <th>2日前</th>
    <th>1日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <td><%= posts.created_6day_ago.count %></td>
    <td><%= posts.created_5day_ago.count %></td>
    <td><%= posts.created_4day_ago.count %></td>
    <td><%= posts.created_3day_ago.count %></td>
    <td><%= posts.created_2day_ago.count %></td>
    <td><%= posts.created_yesterday.count %></td>
    <td><%= posts.created_today.count %></td>
  </tr>
</table>