<div class="row">
  <%= render 'public/users/info', current_user: @current_user %>
  <div class="col-10">     
    <div class="container m-0">
      <!--フラッシュメッセージ-->
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <h3 class="row my-4">
        <div class="col-1"></div>
        <span class='heading-title'>ユーザー情報編集</span>
      </h3>
      <!--バリデーションエラーメッセージ-->
      <div class="mx-5">
        <%= render 'layouts/errors', obj: @user %>
      </div>
    
      <%= form_with model: @user do |f| %>
        <div class="row form-group justify-content-center">
          <%= f.label :profile_image, "プロフィール画像", class: "col-3 my-2" %>
          <%= f.file_field :profile_image, accept: "image/*", class: "col-4 px-0 my-2" %>
        </div>
        <div class="row form-group justify-content-center">
          <%= f.label :name, "ユーザーネーム", class: "col-3" %>
          <%= f.text_field :name,autofocus: true, class: "col-4" %>
        </div>
    
        <div class="row form-group justify-content-center">
          <%= f.label :email, "メールアドレス", class: "col-3 my-2" %>
          <%= f.email_field :email,  autocomplete: "email", class: "col-4 my-2" %>
        </div>
        <div class="row form-group justify-content-center">
          <%= f.label :introduction, "メッセージ", class: "col-3 my-2" %>
          <%= f.text_area :introduction, rows: 5, class: "col-4 my-2" %>
        </div>
        
        <div class="row form-group justify-content-center">
          <%= f.submit "編集内容を保存", class: "btn btn-success col-3 my-2" %>
          
        </div>
        <div class="row form-group justify-content-center">
          <%= link_to "退会する", unsubscribe_path(@user.id), class: "btn btn-danger col-3 mb-3" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>