<!--お気に入り投稿一覧-->
<div class="container my-3">
  <!--フラッシュメッセージ-->
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>
  <div class="text-center my-3">
    <h3>
      <%= link_to  user_path(@user.id) do %>
        <i class="fa-solid fa-circle-chevron-left"  style="color: #7a7a7a;"></i>
      <% end %>
      <strong><%= @user.name %></strong>
    </h3>
    <p><%= @user.favorites.count %>件のお気に入り</p>
  </div>
  <!--お気に入り投稿一覧-->
  <% if @favorite_posts.present? %>
    <%= render "public/posts/timeline", posts: @favorite_posts %>
  <!--お気に入り数が0だと表示-->
  <% else %>
    <h3 class="py-5 text-center">ここにお気に入りに登録した投稿が表示されます。</h3>
  <% end %>
  <!--ページネーション-->
  <div class="d-flex justify-content-center">
    <%= paginate @favorite_posts, theme: 'bootstrap-5'  %>
  </div>
</div>

