<!--ユーザー詳細-->
<div class="container my-3">
  <!--フラッシュメッセージ-->
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>
  <div class="row align-items-center my-4">
    <!--ユーザ情報-->
    <div class="col-lg-1"></div>
    <div class="col-lg-4 col-sm-12 text-center ">
      <div class="mb-3">
        <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle" %>
      </div>
      <h5 class="my-2">
        <strong><%= @user.name %></strong>
      </h5>
      <div class="my-3">
        <!--ログインユーザーのみ表示-->
        <% if @user.id == current_user.id %>
          <!--(ゲストユーザーは非表示)-->
          <% unless @user.guest_user %>
            <%= link_to edit_user_path(current_user.id), class: "btn btn-secondary" do %>
              <i class="fa-solid fa-sliders"></i>　編集する
            <% end %>
          <% end %>
        <!--ログインユーザー以外にフォローボタンを表示-->
        <% else %>
          <div id="follow-ajax_<%= @user.id %>">
            <%= render "public/relationships/btn", user: @user, class: "col-4" %>
          </div>
        <% end %>
      </div>
    </div>
    <!--詳細右側の表示-->
    <div class="col-lg-6 col-sm-12 text-center">
      <%= render 'public/users/show', user: @user %>
    </div>
  </div>
  <!--ゲストユーザー以外に表示-->
  <% unless @user.guest_user %>
    <!--ユーザの投稿一覧-->
    <div class="my-4">
      <h4 class="text-center">ポスト</h4>
      <% if @posts.present? %>
        <%= render 'public/posts/timeline', posts: @posts, user: @user %>
      <!--投稿がなければ表示する-->
      <% else %>
        <h3 class="py-5 text-center">投稿がありません。</h3>
      <% end %>
    </div>
    <div class="text-right">
      <!--4件より多くないと表示されない-->
      <% if @user.posts.count > 3 %>
        <%= link_to "もっと投稿を見る", userpost_path(@user.id), class: "btn btn-outline-info" %>
      <% end %>
    </div>
    <!--週の投稿数-->
    <div class="my-4">
      <h4 class="text-center">１週間の投稿数</h4>
      <%= render "public/users/weekpost", posts: @posts %>
    </div>
  <% end %>
</div>
