<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a59ea4; ">
  <div class="container py-2">
    <!--リンク先マップへ修正すること-->
    <a class="navbar-brand pb-3" href="/map">
      <span><%= image_tag "logo.png", size: '150x60' %></span>
    </a>
    <!--ロゴを記述すること-->
    <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target=#navbarNavDropdown
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!--新規投稿へ-->
          <li class="nav-item mx-3">
            <%= link_to "新規投稿", new_post_path , class: 'btn btn-outline-light btn-text-dark btn-block'%>
          </li>
          <!--マイページへ-->
          <li class="nav-item mx-3">
            <%= link_to "マイページ", user_path(current_user.id) , class: 'btn btn-outline-light btn-text-dark btn-block'%>
          </li>
          <!--タイムラインへ-->
          <li class="nav-item mx-3">
            <%= link_to "タイムライン", timeline_path, class: 'btn btn-outline-light btn-text-dark btn-block' %>

          </li>
          <!--マップページへ→後で通知ボタンに変える-->
          <li class="nav-item mx-3">
            <%= link_to "マップ", map_path, class: 'btn btn-outline-light btn-text-dark btn-block' %>
          </li>
          <!--ログアウトリンク-->
          <li class="nav-item mx-3">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-light btn-text-dark btn-block'%>
          </li>
        <% elsif admin_signed_in? %>
          <!--投稿一覧へ-->
          <li class="nav-item mx-3">
            <%= link_to "投稿一覧", admin_root_path, class: "btn btn-outline-light btn-text-dark btn-block" %>
          </li>
          <!--ユーザー一覧ページへ-->
          <li class="nav-item mx-3">
            <%= link_to "ユーザー一覧", admin_users_path, class: 'btn btn-outline-light btn-text-dark btn-block' %>
          </li>
          <!--ログアウトページへ-->
          <li class="nav-item mx-3">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,class: 'btn btn-outline-light btn-text-dark btn-block' %>
          </li>
        <% else %>
          <!--Topへ-->
          <li class="nav-item mx-3">
            <%= link_to "トップページ", root_path, class: "btn btn-outline-light btn-text-dark btn-block" %>
          </li>
          <!--Aboutページへ-->
          <li class="nav-item mx-3">
            <%= link_to "About", about_path, class: 'btn btn-outline-light btn-text-dark btn-block' %>
          </li>
          <!--ログインページへ-->
          <li class="nav-item mx-3">
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-light btn-text-dark btn-block' %>
          </li>
          <!--新規登録ページへ-->
          <li class="nav-item mx-3">
            <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-light btn-text-dark btn-block' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
