<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a59ea4; ">
  <div class="container">
    <!--修正すること-->
    <a class="navbar-brand" href="/maps">
      <span>用水路安全マップ</span>
    </a>
    <!--ロゴを記述すること-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=#navbarNavDropdown
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!--マイページへ-->
          <li class="nav-item">

          </li>
          <!--タイムラインへ-->
          <li class="nav-item">

          </li>
          <!--通知ボタン-->
          <li class="nav-item">

          </li>
          <!--ログアウトリンク-->
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-light btn-text-dark'%>
          </li>

        <% else %>
          <!--Topへ-->
          <li class="nav-item">

              <%= link_to "トップページ", root_path, class: "btn btn-outline-light btn-text-dark" %>

          </li>
          <!--Aboutページへ-->
          <li class="nav-item text-light">
            <%= link_to "About", about_path, class: 'btn btn-outline-light btn-text-dark' %>
          </li>
          <!--ログインページへ-->
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-light btn-text-dark' %>
          </li class="nav-item">
          <!--新規登録ページへ-->
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-light btn-text-dark' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>