<!--ヘッダー-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a59ea4; ">
  <div class="mx-4 py-3">
    <!--ユーザーログイン時ロゴ押下時のページ遷移先→「マップ」-->
    <% if user_signed_in? %>
      <a class="navbar-brand pb-3" href="/map">
        <span class="logo">
          用水路安全確認マップ
          <i class="fa-solid fa-map-pin" style="color: #ffadbe;"></i>
        </span>
      </a>
    <!--管理者ログイン時ロゴ押下時のページ遷移先→「投稿一覧」-->
    <% elsif admin_signed_in? %>
      <a class="navbar-brand pb-3" href="/admin">
        <span class="logo">
          用水路安全確認マップ
          <i class="fa-solid fa-map-pin" style="color: #ffadbe;"></i>
        </span>
      </a>
    <!--ログアウト時ロゴ押下時のページ遷移先→「トップ」-->
    <% else %>
      <a class="navbar-brand pb-3" href="/">
        <span class="logo">
          用水路安全確認マップ
          <i class="fa-solid fa-map-pin" style="color: #ffadbe;"></i>
        </span>
      </a>
    <% end %>
  </div>
  <!--ナビげーションメニュー、ハンバーガーメニュー-->
  <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target=#navbarNavDropdown
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <!--ユーザーログイン時-->
      <% if user_signed_in? %>
        <!--新規投稿へ-->
        <li class="nav-item mr-3">
          <%= link_to "新規投稿", new_post_path, class: 'nav-link text-light'%>
        </li>
        <!--マイページへ-->
        <li class="nav-item mr-3">
          <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-light'%>
        </li>
        <!--タイムラインへ-->
        <li class="nav-item mr-3">
          <%= link_to "タイムライン", timeline_path, class: 'nav-link text-light' %>
        </li>
        <!--マップ-->
        <li class="nav-item mr-3">
          <%= link_to "マップ", map_path, class: 'nav-link text-light' %>
        </li>
        <!--通知ボタン-->
        <li class="nav-item mr-3">
          <%= link_to notifications_path, class: 'nav-link text-light' do %>
            <!--未読通知があればベルの色を黄色で表示-->
            <% if current_user.notifications.where(read: false).present? %>
              <i class="fa-solid fa-bell" style="color: #FFD43B;"></i>
            <% else %>
              <i class="fa-solid fa-bell"></i>
            <% end %>
            <!--通知未読数の表示-->
            <span class="mx-2"><%= current_user.notifications.where(read: false).count %></span>
          <% end %>
        </li>
        <!--ログアウトリンク-->
        <li class="nav-item mr-3">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light'%>
        </li>
      <!--管理者ログイン時-->
      <% elsif admin_signed_in? %>
        <!--投稿一覧へ-->
        <li class="nav-item mx-3">
          <%= link_to "投稿一覧", admin_root_path, class: 'nav-link text-light' %>
        </li>
        <!--ユーザー一覧へ-->
        <li class="nav-item mx-3">
          <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-light' %>
        </li>
        <!--ログアウトへ-->
        <li class="nav-item mx-3">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
        </li>
      <!--ログアウト表示-->
      <% else %>
        <!--Topへ-->
        <li class="nav-item mx-3">
          <%= link_to "トップページ", root_path, class: 'nav-link text-light' %>
        </li>
        <!--Aboutへ-->
        <li class="nav-item mx-3">
          <%= link_to "サイトについて", about_path, class: 'nav-link text-light' %>
        </li>
        <!--ログインへ-->
        <li class="nav-item mx-3">
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
        </li>
        <!--新規登録へ-->
        <li class="nav-item mx-3">
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
