<!--ヘッダー-->
<nav class="navbar-dark" style="background-color: #a59ea4; ">
    <div class="row py-3">
    <!--リンク先マップへ修正すること-->
    <!--ロゴを記述すること-->
    <div class="col-2"></div>
    <div class="col-3">
      <a class="navbar-brand pb-3" href="/map">
        <span>用水路安全マップ<i class="fa-solid fa-map-location-dot"></i></span>
      </a>
    </div>
    <div class="col-3"></div>
    <!--検索フォーム-->
    <% if user_signed_in? %>
      <div class="col-4 d-flex align-items-center">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          <%= f.text_field :content, :size => "25",  placeholder: "ユーザー名・住所・〒を検索" %>
          <%= f.select :model, options_for_select({"ユーザー名" => "user", "投稿住所" => "post", "郵便番号(ハイフンなし)" => "post_code" }),{prompt: "-選択してください-"},{required: true}%>
          <%= f.submit "検索", class: "btn btn-secondary " %>
        <% end %>
      </div>
    <% elsif admin_signed_in? %>
      <div class="col-4 d-flex align-items-center">
        <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
          <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          <%= f.text_field :content, :size => "25",  placeholder: "ユーザー名・住所・〒を検索" %>
          <%= f.select :model, options_for_select({"ユーザー名" => "user", "投稿住所" => "post", "郵便番号(ハイフンなし)" => "post_code" }),{prompt: "-選択してください-"},{required: true}%>
          <%= f.submit "検索", class: "btn btn-secondary " %>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>