<!--サイドバー-->
<div class="user-info col-1 text-center">
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <!--新規投稿ボタン-->
      <li class="nav-item">
        <%= link_to new_post_path do %>
          <h1><i class="fa-regular fa-square-plus" style="color: #7a7a7a;"></i></h1>
          <p>新規投稿</p>
        <% end %>
      </li>
      <!--タイムラインボタン-->
      <li class="nav-item">
        <%= link_to timeline_path do %>
          <h1><i class="fa-solid fa-house" style="color: #7a7a7a;"></i></i></h1>
          <p>タイムライン</p>
        <% end %>
      </li>
      <!--マップ-->
      <li class="nav-item">
        <%= link_to map_path do %>
          <h1><i class="fa-solid fa-map-location-dot" style="color: #7a7a7a;"></i></h1>
          <p>マップ</p>
        <% end %>
      </li>
      <!--マイページボタン-->
      <li class="nav-item">
        <%= link_to user_path(current_user.id) do %>
          <h1><i class="fa-solid fa-user" style="color: #7a7a7a;"></i></h1>
          <p>マイページ</p>
        <% end %>
      </li>
      <!--ログアウトボタン-->
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <h1> <i class="fa-solid fa-right-from-bracket" style="color: #7a7a7a;"></i></h1>
          <p>ログアウト</p>
        <% end %>
      </li>
      <!--管理者ページでの表示-->
    <% elsif admin_signed_in? %>
      <li class="nav-item mb-3">
        <h1><i class="fa-solid fa-user-shield"></i></h1>
        <strong>管理者ログイン中です</strong>
      </li>
      
      <!--投稿一覧-->
      <li class="nav-item">
        <%= link_to admin_root_path do %>
          <h1><i class="fa-solid fa-pen-to-square" style="color: #7a7a7a;"></i></h1>
          <p>投稿一覧</p>
        <% end %>
      </li>
      <!--ユーザー一覧-->
      <li class="nav-item">
        <%= link_to admin_users_path do %>
          <h1><i class="fa-solid fa-user" style="color: #7a7a7a;"></i></h1>
          <p>ユーザー一覧</p>
        <% end %>
      </li>
      <!--ログアウトボタン-->
      <li class="nav-item">
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <h1> <i class="fa-solid fa-right-from-bracket" style="color: #7a7a7a;"></i></h1>
          <p>ログアウト</p>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to root_path do %>
          <h1> <i class="fa-solid fa-desktop" style="color: #7a7a7a;"></i></h1>
          <p>トップページ</p>
        <% end %>
      </li>
      <!--アバウトページボタン-->
      <li class="nav-item">
        <%= link_to about_path do %>
          <h1><i class="fa-solid fa-link" style="color: #7a7a7a;"></i></h1>
          <p>サイトについて</p>
        <% end %>
      </li>
      <!--ログインボタン-->
      <li class="nav-item">
        <%= link_to new_user_session_path do %>
          <h1><i class="fa-solid fa-right-to-bracket" style="color: #7a7a7a;"></i></h1>
          <p>ログイン</p>
        <% end %>
      </li>
      <!--新規登録ボタン-->
      <li class="nav-item">
        <%= link_to new_user_registration_path do %>
          <h1><i class="fa-solid fa-user-plus" style="color: #7a7a7a;"></i></h1>
          <p>新規登録</p>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>